{% extends "layout.html" %}

{% block body %}
<br><br>
<div class="container">
    <div class="jumbotron text-center">
        <h3 class="p-2 mb-2 bg-info text-white"><strong>Welcome</strong> !</h3>
        <hr>
        <h4 class="text-dark">Ozgur Yasar Alhan is an Electronics and Communication Engineer.</h4>
        <br>
        <h5 class="text-dark">He loves coding, cleaning, fixing home stuffs, making keep alive old computers &
            electronics,
            and creating automated systems.</h5>
        <br>
        <h5 class="text-primary">You can find about him <strong>everything</strong> in here.😊</h5>
    </div>
</div>
</div>



{% endblock  %}